<template>
<!--    <nav class="navbar navbar-expand navbar-dark bg-dark">-->
<!--        <a href class="navbar-brand" @click.prevent>HealthySmart</a>-->
<!--        <div class="navbar-nav mr-auto">-->
<!--            <li class="nav-item">-->
<!--                <router-link to="/home" class="nav-link">-->
<!--                    <font-awesome-icon icon="home" />Home-->
<!--                </router-link>-->
<!--            </li>-->
<!--        </div>-->

<!--        <div v-if="!username" class="navbar-nav ml-auto">-->
<!--            <li class="nav-item">-->
<!--                <router-link to="/register" class="nav-link">-->
<!--                    <font-awesome-icon icon="user-plus" />Sign Up-->
<!--                </router-link>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <router-link to="/login" class="nav-link">-->
<!--                    <font-awesome-icon icon="sign-in-alt" />Login-->
<!--                </router-link>-->
<!--            </li>-->
<!--        </div>-->

<!--        <div v-if="username" class="navbar-nav ml-auto">-->
<!--            <li class="nav-item">-->
<!--                <router-link to="/profile" class="nav-link">-->
<!--                    <font-awesome-icon icon="user" />-->
<!--                    {{ username }}-->
<!--                </router-link>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href @click.prevent="logout">-->
<!--                    <font-awesome-icon icon="sign-out-alt" />LogOut-->
<!--                </a>-->
<!--            </li>-->
<!--        </div>-->
<!--    </nav>-->
  <div class="main-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="custom-select-box">
            <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
              <option>¥ JPY</option>
              <option>$ USD</option>
              <option>€ EUR</option>
            </select>
          </div>
          <div class="right-phone-box">
            <p>Call US :- <a href="#"> +11 900 800 100</a></p>
          </div>
          <div class="our-link">
            <ul>
              <li><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>
              <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li>
              <li><a href="#"><i class="fas fa-headset"></i> Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="login-box">
            <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
              <option>Register Here</option>
              <option>Sign In</option>
            </select>
          </div>
          <div class="text-slid-box">
            <div id="offer-box" class="carouselTicker">
              <ul class="offer-box">
                <li>
                  <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT80
                </li>
                <li>
                  <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                </li>
                <li>
                  <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                </li>
                <li>
                  <i class="fab fa-opencart"></i> Off 50%! Shop Now
                </li>
                <li>
                  <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                </li>
                <li>
                  <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                </li>
                <li>
                  <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT30
                </li>
                <li>
                  <i class="fab fa-opencart"></i> Off 50%! Shop Now
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoggedUser from '../account/logged-user'

export default {
  name: 'TopBar',
  data () {
    return {
      username: LoggedUser.getLoggedUser().email ? LoggedUser.getLoggedUser().email.split('@')[0] : null,
      loggedUser: {}
    }
  },
  methods: {
    logout () {
      LoggedUser.removeLoggedUser()
      this.$router.push('/login')
    }
  },
  created () {
    this.loggedUser = LoggedUser
  }
}
</script>
