<template>
    <div class="container-fluid">
    <TopBar></TopBar>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h3>Thông tin người dùng</h3>
                    </div>
                    <div class="body">
                        <form>
                            <div class="block row">
                                <div class="col-sm-9">
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>email</label>
                                        </div>
                                        <div class="col-sm-8">{{form.email}}</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>password<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.password" required maxlength="255" placeholder="********" type="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>name<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.name" required maxlength="255" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>fullname<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.fullName" required maxlength="255" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>phone contact<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.phone" required maxlength="255" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-sm-4 form-control-label">
                                            <label>address<span class="text-danger">&nbsp;*</span></label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="form-line">
                                                <input class="form-control" v-model="form.address" required maxlength="255" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group" style="padding-top: 10px">
                                        <div class="img-wrap">
                                            <p id="clientLogoDelete" class="close">&times;</p>
                                            <img class="formatAvatar" v-if="form.imageUrl" v-bind:src="form.imageUrl"/>
                                            <img class="formatAvatar" v-else src="../../assets/img/avatar.jpg">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import * as api from '../../APIUtils'
import TopBar from '../topbar/TopBar'
import _ from 'lodash'

export default {
  name: 'Profile',
  components: {TopBar},
  data () {
    let initForm = {
      id: '',
      email: '',
      name: '',
      fullName: '',
      address: '',
      phone: '',
      imageUrl: '',
      password: ''
    }
    return {
      form: _.cloneDeep(initForm)
    }
  },
  computed: {
    currentUser () {
      // eslint-disable-next-line vue/no-async-in-computed-properties
      return api.getCurrentUser()
        .then(response => {
          Object.assign(this.form, response)
        }).catch((err) => {
          console.log(err)
        })
    }
  },
  mounted () {
    if (!this.currentUser) {
      this.$router.push('/login')
    }
  }
}
</script>
