<template>
  <div class="container">
    <header class="jumbotron">
      <router-link to="/oauth2/redirect" v-bind:class="oauth"/>
    </header>
  </div>
</template>

<script>
import * as CONST from '../../constant'
import * as api from '../../APIUtils'
import LoggedUser from './logged-user'

export default {
  name: 'RedirectOauth',
  data () {
    return {
      content: ''
    }
  },
  computed: {
    oauth () {
      const token = this.getUrlParameter('token')
      if (token) {
        localStorage.setItem(CONST.ACCESS_TOKEN, token)
        // eslint-disable-next-line vue/no-async-in-computed-properties
        api.getCurrentUser()
          .then(response => {
            LoggedUser.setLoggedUser(response)
            // eslint-disable-next-line no-unreachable
            location.reload(true)
          })
          .catch((err) => {
            console.log(err)
          })
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        return this.$router.push('/profile')
      } else {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        return this.$router.push('/register')
      }
    }
  },
  methods: {
    getUrlParameter (name) {
      const queryString = window.location.search
      const urlParams = new URLSearchParams(queryString)
      return urlParams.get(name)
    }
  }
}
</script>

<style scoped>

</style>
